{% extends "layout.html" %}
{% from 'macros.html' import add_gmodel_checkpoint, chemdraw, error_message, warning_message %}

{% block title %}
<h1>Generate</h1>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-5 col-sm-5 col-lg-5">
        {% if not config['DEMO'] %}
        {{ add_gmodel_checkpoint('generate', checkpoint_upload_warnings, checkpoint_upload_errors) }}
        <hr>
        {% endif %}

        <form id="generateForm">
            <!--Model checkpoint selector-->
            <h3>Gmodel checkpoint(s)</h3>
            <!-- <select name="checkpointName" required>
                {% for checkpoint in checkpoints %}
                <option value="{{ checkpoint[0] }}">{{ checkpoint[1] }}</option>
                {% endfor %}
            </select> -->

            <div class="custom-control custom-checkbox" name="checkpointName">
                {% for checkpoint in checkpoints %}
                {% if "generation" in checkpoint['class'] %}
                <input type="checkbox" class="custom-control-input" value="{{checkpoint[0] }}" id="{{checkpoint[0] }}"
                       checked>
                <label class="custom-control-label" for="{{checkpoint[0] }}">{{checkpoint[0] }}: {{ checkpoint[1]
                    }}</label>
                {% endif %}
                {% endfor %}
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-md" onclick="submitGenerateForm()">Generate</button>
        </form>
    </div>

    <div class="col-xs-7 col-sm-7 col-lg-7">

        <div class="image-list row">
            <div class="cover col-xs-3" ><img src="../static/web_figures/demo_single_1.svg" alt=""></div>
            <div class="cover col-xs-3" ><img src="../static/web_figures/demo_single_2.svg" alt=""></div>
            <div class="cover col-xs-3" ><img src="../static/web_figures/demo_single_3.svg" alt=""></div>

            <div class="cover col-xs-3"><img src="../static/web_figures/demo_single_4.svg" alt=""></div>
            <div class="cover col-xs-3"><img src="../static/web_figures/demo_single_5.svg" alt=""></div>

            <div class="cover col-xs-3"><img src="../static/web_figures/demo_single_6.svg" alt=""></div>
            <div class="cover col-xs-3"><img src="../static/web_figures/demo_single_7.svg" alt=""></div>

            <div class="cover col-xs-3"><img src="../static/web_figures/demo_single_8.svg" alt=""></div>
            <div class="cover col-xs-3"><img src="../static/web_figures/demo_single_9.svg" alt=""></div>

            <div class="cover col-xs-3"><img src="../static/web_figures/demo_single_10.svg" alt=""></div>
            <div class="cover col-xs-3"><img src="../static/web_figures/demo_single_11.svg" alt=""></div>
            <div class=" col-xs-3"  style="position:absolute;right:0px;bottom:0px;">
<!--                 style="position:absolute;right:0px;bottom:0px;"-->
            <a href="#">show more &gt;&gt;</a></div>
        </div>

        <link rel="stylesheet" href="../static/jstupian/pictureViewer.css">
        <script src="../static/jstupian/jquery.mousewheel.min.js"></script>
        <script src="../static/jstupian/pictureViewer.js"></script>
        <script>
            $(function () {
                $('.image-list').on('click', '.cover', function () {

                    var this_ = $(this);
                    var images = this_.parents('.image-list').find('.cover');
                    var imagesArr = new Array();
                    $.each(images, function (i, image) {
                        imagesArr.push($(image).children('img').attr('src'));
                    });
                    $.pictureViewer({
                        images: imagesArr, //需要查看的图片，数据类型为数组
                        initImageIndex: this_.index() + 1, //初始查看第几张图片，默认1
                        scrollSwitch: true //是否使用鼠标滚轮切换图片，默认false
                    });
                    console.log(imagesArr);
                });
            });
        </script>
    </div>
</div>


<script type=text/javascript>
    function submitGenerateForm() {
        var checkedmodel = "";
        $.each($('input:checkbox:checked'), function () {
            checkedmodel += $(this).val() + ",";
        });
        var data = {"checkpointName": checkedmodel, "n_sample_per_model": "1000", "filter": "None"};
        $.ajax({
            url: "/generate",
            type: "post",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (data) {
                alert("success");
            },
            error: function (e) {
                alert("error to generate");
            }
        });


    }
</script>

{% endblock %}
