{% extends "layout.html" %}
{% from 'macros.html' import add_checkpoint, chemdraw, error_message, warning_message %}

{% block title %}
<!-- <h1>Predict</h1> -->
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h3>Predict</h3>
            {% if not config['DEMO'] %}
            {{ add_checkpoint('predict', checkpoint_upload_warnings, checkpoint_upload_errors) }}
            {% endif %}
        </div>
        <div class="col-xs-8">
            <!-- <h3>Predict</h3> -->
            <form enctype="multipart/form-data" method="POST">
                <!--Model checkpoint selector-->
                <h3>Model checkpoint</h3>
                <div class="row">
                    <div class="col-xs-12">

                        <div class="custom-control custom-checkbox" name="checkpointName" style="height: 100px;overflow-x: hidden;
        overflow-y: scroll;">
                            {% for checkpoint in checkpoints %}
                            <input type="checkbox" class="custom-control-input" value="{{checkpoint[0] }}"
                                   id="{{checkpoint[0] }}"
                                   checked>
                            <label class="custom-control-label" for="{{checkpoint[0] }}">{{checkpoint[1]}}</label>
                            <br>
                            {% endfor %}


                        </div>

                        <!--                        <select name="checkpointName" class="form-control" required>-->
                        <!--                            {% for checkpoint in checkpoints %}-->
                        <!--                            <option value="{{ checkpoint[0] }}">{{ checkpoint[1] }}</option>-->
                        <!--                            {% endfor %}-->
                        <!--                        </select>-->
                    </div>
                </div>
                <br>

                <!--SMILES upload type selector-->
                <div class="btn-group" id="inputSelect" data-toggle="buttons">
                    <label id="textButton" class="btn btn-primary active">
                        <input type="radio" name="inputType" value="text" autocomplete="off"/>
                        Text Input
                    </label>
                    <label id="fileButton" class="btn btn-primary">
                        <input type="radio" name="inputType" value="file" autocomplete="off"/>
                        Upload File
                    </label>
                    <label id="drawButton" class="btn btn-primary">
                        <input type="radio" name="inputType" value="file" autocomplete="off"/>
                        Draw Molecule
                    </label>
                </div>

                <br/>

                <!--SMILES input-->
                <div id="textInputForm">
                    <h5>SMILES (one per line)</h5>
                    <textarea id="textSmilesInput" name="textSmiles" cols="60" rows="5" placeholder="SMILES"
                              required></textarea>
                </div>
                <div id="fileInputForm" style="display:none">
                    <!--                    <form enctype="multipart/form-data" id="form_example">-->


                    <h5>File containing SMILES (one per line)</h5>

                    <input id="fileSmilesInput" type="file" name="data" accept=".csv"/>
                    <!--                    </form>-->

                </div>
                <div id="drawInputForm" style="display:none">
                    <h5>Draw a molecule</h5>
                    {{ chemdraw() }}
                    <br/>
                    <button type="button" id="convertToSmiles" class="btn btn-primary btn-xs">
                        Convert to SMILES
                    </button>
                    <input id="drawSmilesInput" name="drawSmiles" placeholder="SMILES"/>
                </div>

                <br/>

                <!--SMILES input functionality-->
                <script>
                    $(document).ready(function () {
                        $(document).ready(function () {
                            $("#textButton").click(function () {
                                $("#textInputForm").show();
                                $("#textSmilesInput").prop("required", true);
                                $("#fileInputForm").hide();
                                $("#fileSmilesInput").prop("required", false);
                                $("#drawInputForm").hide();
                                $("#drawSmilesInput").prop("required", false);
                                $("#drawSmilesInput").val("");
                            });
                            $("#fileButton").click(function () {
                                $("#textInputForm").hide();
                                $("#textSmilesInput").prop("required", false);
                                $("#textSmilesInput").val("");
                                $("#fileInputForm").show();
                                $("#fileSmilesInput").prop("required", true);
                                $("#drawInputForm").hide();
                                $("#drawSmilesInput").prop("required", false);
                                $("#drawSmilesInput").val("");
                            });
                            $("#drawButton").click(function () {
                                $("#textInputForm").hide();
                                $("#textSmilesInput").prop("required", false);
                                $("#textSmilesInput").val("");
                                $("#fileInputForm").hide();
                                $("#fileSmilesInput").prop("required", false);
                                $("#drawInputForm").show();
                                $("#drawSmilesInput").prop("required", true);
                            });
                        });

                        $("#convertToSmiles").click(function () {
                            $("#drawSmilesInput").val(jsmeApplet.smiles());
                        });
                    });

                </script>

                <!--GPU selector-->
                <!-- {% if cuda %}
                <h5>GPU</h5>
                <select name="gpu">
                    <option value="None">None</option>
                    {% for gpu in gpus %}
                    <option value="{{ gpu }}">{{ gpu }}</option>
                    {% endfor %}
                </select>
                <br />
                <br /> {% endif %} -->

                <button type="submit" class="btn btn-primary btn-md" id="predict_result">Predict</button>
                <button type="submit" class="btn btn-primary btn-md">Predict ALL</button>

            </form>

            <script type="text/javascript">


                $(document).ready(function () {


                    $("#predict_result").click(function (event) {

                        event.preventDefault();

                        var checkedmodel = "";
                        $.each($('input:checkbox:checked'), function () {
                            checkedmodel += $(this).val() + ",";
                        });
                        checkedmodel = checkedmodel.substring(0, checkedmodel.length - 1)

                        var form = new FormData();
                        form.append('checkpointName', checkedmodel.split(",")[0]);
                        form.append('data', $('#fileSmilesInput')[0].files[0]);
                        form.append('textSmiles', "");
                        form.append('drawSmiles', "");
                        form.append('usejson', "true");
                        var tabledata = ""
                        // console.log(form);
                        $.ajax({
                            url: "/predict",
                            type: "post",
                            data: form,
                            contentType: false,
                            processData: false,
                            async: false,
                            success: function (data) {
                                tabledata = data;
                                predicttable();
                            },
                            error: function () {
                                console.log("失败了")
                            }

                        });

                        function predicttable() {
                            var otherhead = [];
                            var othercontent = [];
                            var smileshead = [];
                            var smilescontent = [];

                            $.each(tabledata, function (index, obj) {
                                if (index == "smiles") {
                                    smileshead.push(index)
                                    smilescontent.push(obj)
                                } else {
                                    otherhead.push(index)
                                    othercontent.push(obj)
                                }
                            });
                            var head = []

                            let headcache2 = {}
                            headcache2["title"] = smileshead[0];
                            headcache2["field"] = smileshead[0];
                            head.push(headcache2);

                            for (let j = 0; j < otherhead.length; j++) {
                                let headcache = {}
                                headcache["title"] = otherhead[j];
                                headcache["field"] = otherhead[j];
                                head.push(headcache)
                            }
                            var table = new Tabulator("#example-table", {
                                layout: "fitColumns",
                                height: "100%",
                                columns: head,
                            });

                            for (let i = 0; i < othercontent[0].length; i++) {
                                var content = [{}];
                                content[0][smileshead[0]] = smilescontent[0][i];
                                for (let j = 0; j < otherhead.length; j++) {
                                    content[0][otherhead[j]] = othercontent[j][i];
                                }
                                table.addData(content, true)
                            }
                        }
                    });
                });
            </script>

            {% if warnings %}
            {% for warning in warnings %}
            {{ warning_message(warning) }}
            {% endfor %}
            {% endif %}

            {% if errors %}
            {% for error in errors %}
            {{ error_message(error) }}
            {% endfor %}
            {% endif %}

        </div>

        <div class="row">
            <hr class="col-xs-12">
            <h4 class="col-xs-2">Predict 结果</h4>
            <a href="{{ url_for('download_predictions') }}">
                <button type="submit" class="btn btn-default btn-md col-xs-2 col-md-offset-8">DownLoad CSV</button>
            </a>
            <br>
            <div id="example-table" style="height: 500px;width: 100%"></div>
            <script type="text/javascript">


            </script>
        </div>
        <!--        {% if predicted %}-->


        <hr/>
        <a href="{{ url_for('download_predictions') }}">
            <button class="btn btn-default btn-md">Download
                Predictions
            </button>
        </a>
        <br/>
        <br/>


        <!--                {% for i in range(num_smiles) %}-->
        <!--                <p>SMILES: {{ smiles[i] }} </p>-->

        <!--                {% for j in range(num_tasks) %}-->
        <!--                <p>{{ task_names[j] }}: {{ preds[i][j] }}</p>-->
        <!--                {% endfor %}-->
        <!--                <hr/>-->
        <!--                {% endfor %}-->

        <!--                {% if show_more > 0 %}-->
        <!--                <p>... and {{ show_more }} more. Download file for full predictions.</p>-->
        <!--                {% endif %}-->
        <!--        {% endif %}-->

    </div>
</div>
{% endblock %}